<div class="card border-secondary shadow-sm mb-3">
    <div class="card-body">
        <div class="row d-flex align-items-center">
            <div class="col-12 col-lg-10">
                {{ fsc.pageComposer.getDataModel(
                    'Settings',
                    ['modelid', 'modelname', 'codicu'],
                    ['webcreator', 'Settings', fsc.webPage.filelang],
                    ['=', '=', '='],
                    'cookieinfo',
                    false)
                }}
            </div>

            <div class="col-12 col-lg-2 text-center">
                <button class="btn btn-secondary btnSettingsCookies" type="button" data-toggle="modal" data-target="#modalSettingsCookies">
                    {{ i18n.customTrans(fsc.webPage.filelang, 'settings') }}
                </button>
            </div>
        </div>            
    </div>
</div>