{% if fsc.pageComposer.getCookie('acceptCookie') == '' %}
    <div id="overlayCookie"></div>
    <div id="msgCookie" class="shadow">
        <div class="row d-flex align-items-center p-3">
            <div class="col-12 col-lg-9 info">
                {{ fsc.pageComposer.getDataModel(
                    'Settings',
                    ['modelid', 'modelname', 'codicu'],
                    ['webcreator', 'Settings', fsc.webPage.filelang],
                    ['=', '=', '='],
                    'cookieinfo',
                    false)
                }}
            </div>

            <div class="col-12 col-lg-3 text-center text-lg-right buttons">
                <div class="row">
                    <div class="button col-3">
                        <a href="{{ fsc.pageComposer.getPagesDefault()['cookies'] }}" class="btn btn-info">
                            {{ i18n.customTrans(fsc.webPage.filelang,'read-more') }}
                        </a>
                    </div>
                    
                    <div class="button col-3">
                        <button class="btn btn-secondary btnSettingsCookies" type="button" data-toggle="modal" data-target="#modalSettingsCookies">
                            {{ i18n.customTrans(fsc.webPage.filelang,'settings') }}
                        </button>
                    </div>

                    <div class="button col-3">
                        <button class="btnRejectCookie btn btn-danger" type="button">
                            {{ i18n.customTrans(fsc.webPage.filelang,'reject') }}
                        </button>
                    </div>

                    <div class="button col-3">
                        <button class="btnSaveCookie btn btn-success" type="button">
                            {{ i18n.customTrans(fsc.webPage.filelang,'accept') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<!-- Modal Settings Cookies -->
<div class="modal fade" id="modalSettingsCookies" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modalSettingsCookiesLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                
                <h5 class="modal-title" id="modalSettingsCookiesLabel">
                    {{ i18n.customTrans(fsc.webPage.filelang,'settings-cookies') }}
                </h5>
                <div class="info">
                    {{ i18n.customTrans(fsc.webPage.filelang,'settings-cookies-help') }}
                </div>
                
                <div class="accordion mt-3" id="accordionCookiesCategories"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="modalSaveCookie btn btn-success">{{ i18n.customTrans(fsc.webPage.filelang,'save-and-accept') }}</button>
            </div>
        </div>
    </div>
</div>