<style>
    #overlayCookie {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 997;
    }

    #msgCookie {
        position: fixed;
        width: 100%;
        z-index: 998;
        {% if fsc.pageComposer.getSetting('cookiestyle') == 1 %}
            bottom: 0;
        {% elseif fsc.pageComposer.getSetting('cookiestyle') == 2 %}
            top: 0;
        {% elseif fsc.pageComposer.getSetting('cookiestyle') == 3 %}
            max-width: 400px;
            left: 50%;
            top: 50%;
            margin-left: -200px;
            margin-top: -200px;
        {% elseif fsc.pageComposer.getSetting('cookiestyle') == 4 %}
            max-width: 400px;
            bottom: 0;
            left: 0;
            margin-left: 10px;
            margin-bottom: 10px;
        {% elseif fsc.pageComposer.getSetting('cookiestyle') == 5 %}
            max-width: 400px;
            bottom: 0;
            right: 0;
            margin-right: 10px;
            margin-bottom: 10px;
        {% elseif fsc.pageComposer.getSetting('cookiestyle') == 6 %}
            max-width: 400px;
            top: 0;
            left: 0;
            margin-left: 10px;
            margin-top: 10px;
        {% elseif fsc.pageComposer.getSetting('cookiestyle') == 7 %}
            max-width: 400px;
            top: 0;
            right: 0;
            margin-right: 10px;
            margin-top: 10px;
        {% endif %}
    }

    #msgCookie .info, #modalSettingsCookies .info {
        color: {{ fsc.pageComposer.getSetting('cookiecolortext') }};
    }

    /* Extra small devices (portrait phones, less than 576px) */
    /* Small devices (landscape phones, less than 768px) */
    @media (max-width: 767.98px) {
        #msgCookie {
            margin: 0;
            max-width: 100%;
        }

        {% if fsc.pageComposer.getSetting('cookiestyle') == 3 %}
            #msgCookie {
                left: 0;
                bottom: 0;
                top: auto;
            }
        {% endif %}
    }

    /* Large devices (desktops, less than 1200px) */
    @media (max-width: 1199.98px) {
        #msgCookie .buttons {
            margin-top: 15px;
        }
    }
</style>