<script>
    $(document).ready(function(){
        var acceptCookie = '{{ fsc.pageComposer.getCookie('acceptCookie') }}';
        var cookiestyle = '{{ fsc.pageComposer.getSetting('cookiestyle') }}';
        
        if (acceptCookie === '') {
            var colorOverlay = '{{ fsc.pageComposer.getSetting('cookiebackgroundoverlay') }}';
            var rO = parseInt(colorOverlay.substr(1, 2), 16);
            var gO = parseInt(colorOverlay.substr(3, 2), 16);
            var bO = parseInt(colorOverlay.substr(5, 2), 16);
            $('#overlayCookie').css('background-color', 'rgb('+rO+', '+gO+', '+bO+', 0.7)');

            var colorModal = '{{ fsc.pageComposer.getSetting('cookiebackground') }}';
            var opacityModal = '{{ fsc.pageComposer.getSetting('cookiebackgroundopacity') }}';
            if (opacityModal > 0) {
                var rM = parseInt(colorModal.substr(1, 2), 16);
                var gM = parseInt(colorModal.substr(3, 2), 16);
                var bM = parseInt(colorModal.substr(5, 2), 16);
                $('#msgCookie, #modalSettingsCookies .modal-content').css('background-color', 'rgb('+rM+', '+gM+', '+bM+', '+opacityModal+')');
            }
        }

        if (cookiestyle >= 3 && cookiestyle <= 7 || $(window).width() <= 1199.98) {
            $('#msgCookie').addClass('rounded');
            $('#msgCookie .info').removeClass('col-lg-9');
            $('#msgCookie .buttons').removeClass('col-lg-3');
            $('#msgCookie .buttons .button').addClass('col-6 p-2');
            $('#msgCookie .buttons .button .btn').addClass('w-100');
        }

        function saveCookies(action) {
            var data = {
                action : action,
            };
            
            if (action === 'modalAcceptCookie') {
                var categories = [];
                $('#accordionCookiesCategories input[type="checkbox"]').each(function(){
                    categories.push({
                        idcategory : $(this).attr('data-category'),
                        accept : $(this).is(':checked')
                    });
                });
                data['categories'] = categories;
            }
            
            $.ajax({
                type: "POST",
                url: "{{ asset('CookieController') }}",
                dataType: "json",
                data: data,
                success: function (results) {
                    $('#modalSettingsCookies').modal('hide');
                    $('#msgCookie, #overlayCookie').hide();
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
    
        $('.btnRejectCookie').on('click', function(){
            $('#modalSettingsCookies').modal('hide');
            $('#msgCookie, #overlayCookie').hide();
        });
        
        $('.btnSaveCookie').on('click', function(){
            saveCookies('acceptCookie');
        });
        
        $('.modalSaveCookie').on('click', function(){
            saveCookies('modalAcceptCookie');
        });
        
        $('.btnSettingsCookies').on('click', function(e){
            e.preventDefault();

            $.ajax({
                type: "POST",
                url: "{{ asset('CookieController') }}",
                dataType: "json",
                data: {'action' : 'getCookiesCategories'},
                success: function (results) {console.log(results);
                    if (acceptCookie !== '') {
                        acceptCookie = acceptCookie.split(",");
                    }

                    $('#accordionCookiesCategories').html('');
                    
                    $(results).each(function(index){
                        var check = '';
                        if (results[index]['necesary']) {
                            check = 'checked disabled';
                        } else if ($.inArray(results[index]['idcategory'].toString(), acceptCookie) !== -1) {
                            check = 'checked';
                        }
                        
                        var category = ''+
                            '<div class="card">'+
                                '<div class="card-header" id="headingCookieCategory'+index+'">'+
                                    '<h2 class="mb-0 d-flex justify-content-between">'+
                                        '<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseCookieCategory'+index+'" aria-expanded="true" aria-controls="collapseCookieCategory'+index+'">'+
                                            results[index]['name']+

                                        '</button>'+
                                        '<div class="custom-control custom-switch mt-2">'+
                                            '<input '+check+' type="checkbox" class="custom-control-input" data-category="'+results[index]['idcategory']+'" id="cookieCategory'+results[index]['idcategory']+'">'+
                                            '<label class="custom-control-label" for="cookieCategory'+results[index]['idcategory']+'"></label>'+
                                        '</div>'+
                                    '</h2>'+
                                '</div>'+
                                '<div id="collapseCookieCategory'+index+'" class="collapse" aria-labelledby="headingCookieCategory'+index+'" data-parent="#accordionCookiesCategories">'+
                                    '<div class="card-body">'+
                                        results[index]['description']+
                                        '<table class="table mt-3">'+
                                            '<thead class="bg-dark text-white">'+
                                                '<tr>'+
                                                    '<td>{{ i18n.customTrans(fsc.webPage.filelang,'name') }}</td>'+
                                                    '<td>{{ i18n.customTrans(fsc.webPage.filelang,'duration') }}</td>'+
                                                    '<td>{{ i18n.customTrans(fsc.webPage.filelang,'description') }}</td>'+
                                                '</tr>'+
                                            '</thead>'+
                                            '<tbody>';

                                            $(results[index]['cookies']).each(function(index2){
                                                category += ''+
                                                        '<tr>'+
                                                            '<td>'+results[index]['cookies'][index2]['name']+'</td>'+
                                                            '<td>'+results[index]['cookies'][index2]['durationtime']+'</td>'+
                                                            '<td>'+results[index]['cookies'][index2]['description']+'</td>'+
                                                        '</tr>';
                                            });

                            category    +=  '</tbody>'+
                                        '</table>'+
                                    '</div>'+
                                '</div>'+
                            '</div>';

                        $('#accordionCookiesCategories').append(category);
                    });

                    $('#modalSettingsCookies').modal('show');
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        });
    });
</script>